body {
    background-color: #4da6ff;
}

.container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

img {
    position: absolute;
}

.female {
    transform: translate(350px, 100px);    
    width: 500px;
    height: 400px;       
} 

.fade {
    opacity: 0;  
    transition: opacity 3s; 
}

.show {
    opacity: 1;
    transition: opacity 3s;
}


.headline1 {
    width: 700px;
    height: 300px;    
    transform: translate(-750px, 400px);
}

.slide-in {
    transform: translate(100px, 400px);
    transition: transform 2s;
}

.slide-in2 {
    transform: translate(750px, 15px)!important;
    transition: transform 2s !important;
}

.slide-out {
    transform: translate(-750px, 400px);
    transition: transform 2s;
}

.headline2 {
    transform: translate(1500px, 100px);
    width: 600px;
    height: auto;  
}

.slide-rightin { 
    transform: translate(100px, 100px);
    transition: transform 2s;
    animation-direction: reverse;
}

.subheadline {
    transform: translate(700px, 250px);    
    width: 500px;
    height: auto;       
} 

.learnmore {
    transform: translate(700px, 570px);   
    width: 250px;
    height: auto;
}

.logo {
    transform: translate(-210px, 20px);   
    width: 200px;
    height: auto;
    
}

.replay {
    transform: translate(700px, 647px);   
    width: 100px;
    height: auto;
}









